@model Vidly.ViewModels.TransactionFormViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Transaction Table</h2>

<table class="table table-bordered table-hover" id="transactions">
    <thead>
        <tr>
            <th>Customer</th>
            <th>Date</th>
            <th>Price</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>

@section scripts {
    <script>
        $(document).ready(function () {
            var table = $("#transactions").DataTable({
                ajax: {
                    url: "/api/transactions",
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "customer.name"
                    },
                    {
                        data: "transactionDate"
                    },
                    {
                        data: "totalPrice"
                    }
                ],
                drawCallback: function (settings) {
                    $('#transactions tr').each(function () {
                        var Cell = $(this).find('td');
                        Cell.parent().on('mouseover', Cell, function () {
                            Cell.parent().css('background-color', '#158cba');
                            Cell.parent().css('border', '1px solid #127ba3');
                            Cell.parent().css('cursor', 'pointer');

                            Cell.parent().bind("mouseout", function () {
                                Cell.parent().css('background-color', '');
                                Cell.parent().css('border', '');
                                Cell.parent().css('cursor-color', '');
                            });
                        });
                    });
                }
            });
        });

        $('#transactions').on('click', 'tbody tr', function () {
            alert("Abc");
        });
    </script>
}