@model Vidly.ViewModels.TransactionFormViewModel

<div class="card" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">@Model.Movie.Name</h5>
        <p class="card-text"></p>
    </div>
</div>